body {
  position: absolute;
  font: 24px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
  left: 5%;
  right: 5%;
  top: 25%;
  bottom: 25%;
  text-align: center;
  user-select: none;
}

h1,
h2,
h3 {
  line-height: 1;
}

img {
  padding: 5px;
  width: 50px;
  height: 50px;
}

img:hover {
  filter: invert(13%) sepia(26%) saturate(7464%) hue-rotate(237deg) brightness(38%) contrast(105%);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #c9d1d9;
    background: #111;
  }

  img {
    filter: invert(83%) sepia(9%) saturate(212%) hue-rotate(169deg) brightness(102%) contrast(86%);
  }

  img:hover {
    filter: invert(38%) sepia(72%) saturate(439%) hue-rotate(48deg) brightness(71%) contrast(96%);
  }
}